{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <script src="{% static 'javascript/utils.js' %}?{% now 'U' %}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
    <title>Document</title>
</head>
<body>
    <div style="background: whitesmoke; width: 100vw; height: 100vh;">
        <div id="nav-bar">
            <label>SaveText</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="registerUser">Register</a></li>
            </ul>
        </div>
        <div id="form-div">
            <form method="post" action="getUserLogin" name="login_form">
                 {% csrf_token %}
                <header class="form-header">Login</header>
                <p class="discription-para">Save your Text Files here </p>
                <div class="form-items">
                    <input type="text" placeholder="Student Id" name="username" id="username" class="input-area" required="true"/>  
                    <br>         
                    <input type="password" placeholder="Password" name="password" id="password" class="input-area" required="true"/>
                </div>
                {% if messages != "Successfully Login" or messages != "Successfully Done..."%}
                    <ul class="messages">
                    {% for message in messages %}
                        <li style="color: red; position: relative; left: 10%; margin-bottom: 5px;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <a class="forget-id-pass" href="forgetIdPass">Forget Id and Password</a>
                <br>
                <input type="submit" id="login-btn"  name="Login" value="Login"/>
            </form>
        </div>
        <!-- <div id="email_div" style="display: block;" >

            <label for="email">Email</label>
            <input type="text" name="email" id="email">
            <button  onclick="ajax_send_otp()">Send OTP</button>
        </div>
        <div id="verify_text_div"></div>
        <div id="otp_div" style="display: none;" >
        
            <label for="email">OTP</label>
            <input type="text" name="otp" id="otp">
            <button  onclick="verify_otp()">Verify</button>
        </div>
        <br>
        <div id="form_div" style="display: none;" >
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="con_password">Confirm Password</label>
            <input type="password" name="con_password" id="con_password">
            <input type="submit" value="Sign In">
        </div> -->
    </div> 
    
</body>
</html>