{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Student Registration</title>
</head>
<body>
	<nav class="navbar navbar-light bg-primary">
		<a class="navbar-brand" href="#">
			<img src="../static/images/logoImg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
			SaveText
		</a>
        <ul class="nav justify-content-end">
            <li class="nav-item ">
              <a class="nav-link active text-light" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Link</a>
            </li>
        </ul>
			</nav>
    <div style="background-image: url('../static/images/LoginBgImage.jpg'); background-size: 100% 100%;">
        <!-- <h1>hello world</h1> -->
        <form method="post" action="getUserInfoRegister" class="rounded mx-auto d-block" style="align-items: center; justify-content: center;">
            <header class="m-4" style="font-size: 22px;font-weight:bold">Registration Form</header>
            <div class="form-group m-4">
                <label>Username</label>
                <input class="form-control" type="text" placeholder="username" name="username" id="username" />
            </div>
            <div class="form-group m-4">
                <label>Email</label>
                <input class="form-control" type="email" placeholder="email" name="email" id="email" />
            </div>
            <div class="form-group m-4">
                <label>Password</label>
                <input class="form-control" type="password" placeholder="password" name="pswd" id="pswd" />
            </div>
            <div class="form-group m-4">
                <label>Confirm Password</label>
                <input class="form-control" type="text" placeholder="confirm password" name="conf_pswd" id="conf_pswd" />
            </div>
            <div class="form-group m-4">
                <label for="hint_question">Hint Question</label>
                <select class="form-control" id="hint_question" name="hint_question">
                  <option value="First School Name">First School Name</option>
                  <option value="Pet Name">Pet Name</option>
                  <option value="Teacher Name">Teacher Name</option>
                  <option value="Favorate Food">Favorate Food</option>
                  <option value="Collage Name">Collage Name</option>
                </select>
            </div>
            <div class="form-group m-4">
                <label for="hint_answer">Hint Answer</label>
                <input class="form-control" type="text" placeholder="dog name" name="hint_answer" id="hint_answer" />
            </div>

            <input type="submit" value="Register" class="btn btn-primary btn-lg mb-3" style="margin-left:40vw"/>
        </form>
    </div>
    <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:  #4b4a49; color: #fff;">
        <footer class="page-footer font-small mdb-color lighten-3 pt-4" >
            <div class="container text-center text-md-left"style="background-color:  #4b4a49; color:#fff">
                <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                  <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Graphic Era </h5>
                  <p>Established vide Act No 12 of 2011 of Uttarakhand State Legislature
                     University under Section 2(f) of the UGC Act, 1956 set up under the aegis of Graphic Era Educational Society, Dehradun.</p>
                  </div>
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                  <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Address</h5>
                  <ul class="list-unstyled">
                    <li>
                      <p>
                        <i class="fas fa-home mr-3"></i> Dehradun,Uttrakhand,India</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-envelope mr-3"></i> geu@gmail.com</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-phone mr-3"></i>18008906027</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-print mr-3"></i>7500013334</p>
                    </li>
                  </ul>
                </div>
        </footer>
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="https://www.geu.ac.in/"> Graphic Era University(GEU)</a>
        </div>
    </footer>
    <script>
      var otp_from_back="";
      function ajax_send_otp(){
         email = document.getElementsByTagName("email");
         alert("we reach here")
         console.log("hello")
       $.post("/getUserInfoRegister",
           {
               "email":email.value,
               "csrfmiddlewaretoken":"{{csrf_token}}"
           },
           function(data, status){
               if(status=="success"){
                   otp_from_back = data;
                   document.getElementById("otp_div").style.display='block';
            }
      }
      );
      }
     function verify_otp(){
         var user_otp=document.getElementById("otp").value;
         if (user_otp==otp_from_back){
             document.getElementById("verify_text_div").style.color="green";            
             document.getElementById("verify_text_div").innerHTML="OTP Verified";
             document.getElementById("otp_div").style.display="none";
             document.getElementById("form_div").style.display="block";
         }
         else{
             document.getElementById("verify_text_div").style.color="red";
             document.getElementById("verify_text_div").innerHTML="Try Again!!";
         }
     } 
  </script>
</body>
</html>


<!-- <div class="form-check">
	<input type="checkbox" class="form-check-input" id="dropdownCheck">
	<label class="form-check-label" for="dropdownCheck">
		Remember me
	</label>
</div> -->