{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Area</title>
        <meta name="description" content="Saving-Text">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/textUtils.css' %}?{% now 'U' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="#">
          <img src="../static/images/logoImg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          SaveText
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item ">
            <a class="nav-link active text-light" href="/">Logout</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link</a>
          </li> -->
        </ul>
    </nav>
        <div class="parent-main-container">
          <div class="windows-menu-panel">
            <button>New File</button>
            <button>Save</button>
            <button>Reload directory</button>
            <button>clear all</button>
            <button>Delete File</button>
          </div>
          <div class="windows-text-panel">
            <div class="left-directory-panel">
              <h1 style="overflow: hidden;">Directory</h1>
              <ul style="margin-left: 25px">
                <li style="list-style: lower-alpha;">None</li>
                <li style="list-style: lower-alpha;">None</li>
                <li style="list-style: lower-alpha;">None</li>
              </ul>
            </div>
            <div class="right-textarea-panel">
                <textarea style="width: 100%;height: 80vh;" placeholder="Enter your text..."></textarea>
            </div>
          </div>
        </div>

        <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:  #4b4a49; color: #fff;">
            <footer class="page-footer font-small mdb-color lighten-3 pt-4" >
                <div class="container text-center text-md-left"style="background-color:  #4b4a49; color:#fff">
                    <div class="row">
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                      <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Graphic Era </h5>
                      <p>Established vide Act No 12 of 2011 of Uttarakhand State Legislature
                         University under Section 2(f) of the UGC Act, 1956 set up under the aegis of Graphic Era Educational Society, Dehradun.</p>
                      </div>
                    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                      <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Address</h5>
                      <ul class="list-unstyled">
                        <li>
                          <p>
                            <i class="fas fa-home mr-3"></i> Dehradun,Uttrakhand,India</p>
                        </li>
                        <li>
                          <p>
                            <i class="fas fa-envelope mr-3"></i> geu@gmail.com</p>
                        </li>
                        <li>
                          <p>
                            <i class="fas fa-phone mr-3"></i>18008906027</p>
                        </li>
                        <li>
                          <p>
                            <i class="fas fa-print mr-3"></i>7500013334</p>
                        </li>
                      </ul>
                    </div>
            </footer>
            <div class="footer-copyright text-center py-3">© 2022 Copyright:
                <a href="https://www.geu.ac.in/"> Graphic Era University(GEU)</a>
            </div>
        </footer>

    </body>
</html>