{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Area</title>
        <meta name="description" content="Saving-Text">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/textUtils.css' %}?{% now 'U' %}">
    </head>
    <body>
        <button class="button button1">Save</button>
        <button class="button button2">Reload</button>
        <button class="button button3">Delete</button>
        <div>
        <textarea class="textarea" placeholder="enter the text you want to save"></textarea>
        </div>

    </body>
</html>